.formItem{
    width: 100%;
    background-color: #39a0fa;
    padding: 15px 10px;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.formItem button{
    padding: 10px;
    outline: 0;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
}
.formItem button:hover{
    opacity: .7;
}
.completed{
    background-color: #7cff11;
    color: #000000;
}
.delete{
    background-color: rgb(254, 61, 61);
    color: #fff;
}
.taskCompleted{
    text-decoration: line-through;
}